{{#if posts}}
    {{#each posts as |post|}}
    <div class="post card">
    <div class="card-header">
        <div class="flex-row justify-space-between link-hand" 
            onclick="location.href='/post/{{id}}'">
        <div class="flex-column link-hand post-title">
        {{title}}
        </div>
        <div class="flex-column post-description">
        Posted by {{User.username}} on {{format_date createdAt}}
        </div>
    </div>   
    </div>
    <div class="card-body">{{body}}</div>
    </div>    
    {{/each}}
{{/if}}